html{
    display: flex;
    border: 2px green;
    margin: 5px;;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    min-height: 100vh;
    min-width: 100vw;
}
*{
    box-sizing: border-box;
}
.app{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(68, 57, 57);
    /* padding :1rem; */
    height: 280px;
    width: 165px;
}
.output,.input{
    width: 100%;
    /* border: 1px solid; */
}
.output{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding:1rem;
    background-color: azure;
    margin-bottom: 5px;
    height: 70px;
    border-bottom: 1px solid;
}
.previous{
    opacity: 0.6;
}
.current{
    font-size: larger;

}

.input{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
button{
    border: none;
    margin: 3px;
    /* width: calc(100%/4); */
    width: 35px;
    height: 34px;
    background-color: aqua;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}
button.span {
    width: 76px;
}
button:hover{
    cursor: pointer;
    background-color: aliceblue;
    border: 0.01px solid rgb(198, 193, 193);
}
button:active{
background-color: blue;}
.line{
    /* border:solid; */
    display: flex;
    justify-content: stretch;

}
